"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "spacegray-dark-ui"
      "spacegray-atom-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "autocomplete-clang":
    preCompiledHeaders: {}
    std: {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
".c.source":
  editor:
    tabLength: 4
".js.source":
  editor:
    tabLength: 4
