"*":
  editor:
    showIndentGuide: true
    invisibles:
      {}
    fontFamily: "SourceCodePro-Regular"
    fontSize: 13
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
    hideGitIgnoredFiles: false
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "autocomplete-clang":
    preCompiledHeaders:
      {}
    std:
      {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  react:
    {}
  "markdown-pdf":
    {}
".js.source":
  editor:
    tabLength: 2
".c.source":
  editor:
    tabLength: 4
